<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
<h1>Hello to you, friend</h1>


<!-- Contact -->
<section id="contact">
    <div class="inner">
        <section>
            <form method="post" action="/blogEdit">
                <div class="fields">
                    <!-- <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div> -->
                    <div class="field half">
                        <label for="blogTitle">Title</label>
                        <input type="text" name="blogTitle" id="blogTitle" value="<%= data.title  %> " />
                        <input type="hidden" name="blogID" value="<%= data.id %>" >
                    </div>
                    <div class="field">
                        <label for="blogEntry">Blog Entry</label>
                        <textarea name="blogEntry" id="blogEntry" rows="6"><%= data.content %> </textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Submit" class="primary" /></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>
            </form>
            <form method="post" action="/blogDelete">
                <ul class="actions">
                    <li><input type="submit" value="Delete" class="primary" /></li>
                    <input type="hidden" name="blogID" value="<%= data.id %>">
                </ul>


            </form>
            <a href="/blogs">back to blog page</a>
        </section>
        <section class="split">
            <section>
                <div class="contact-method">
                    <span class="icon solid alt fa-envelope"></span>
                    <h3>Email</h3>
                    <a href="#">information@untitled.tld</a>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon solid alt fa-phone"></span>
                    <h3>Phone</h3>
                    <span>(000) 000-0000 x12387</span>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon solid alt fa-home"></span>
                    <h3>Address</h3>
                    <span>1234 Somewhere Road #5432<br />
                    Nashville, TN 00000<br />
                    United States of America</span>
                </div>
            </section>
        </section>
    </div>
</section>
</body>
</html>