<!-- this is meant to hold this function until I can see if it's needed:-->

<!-- <article>
									<header>
										< % data.forEach(object => { %>
											<span class="date"><%= data.updatedAt %> </span>
											<h2><a href="#"><%= data.title %> </a></h2>
											<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
											<p><%= data.content %> </p>
											<ul class="actions special">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										<% }) %>
									</header> -->	
								<!-- </article> -->